<div class="container">
  <h2 class="mb-3">新規ユーザ登録</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "form-control mb-3", placeholder: "氏名" %>
    </div>

    <div class="field">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control mb-3", placeholder: "メールアドレス" %>
    </div>

    <div class="field">
      <%= f.password_field :password, autocomplete: "new-password", class: "form-control mb-3", placeholder: "パスワード（6文字以上）" %>
    </div>

    <div class="field">
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control mb-3", placeholder: "パスワード（確認）" %>
    </div>

    <div class="actions">
      <input class="btn btn-primary w-100 mb-1" type="submit" value="新規登録">
    </div>
  <% end %>
  <%= render "devise/shared/links" %>

</div>