<nav class="navbar navbar-dark bg-info">
  <form class="container-fluid justify-content-between">
    <a class="navbar-brand" href="/">RoomReserve</a>
    <!-- ログインしていない場合 -->
    <% if (!user_signed_in?) %>
      <div class="navbar-item">
        <button class="btn btn-outline-success me-2" type="button">
          <%= link_to "新規登録", new_user_registration_path, class: "nav-link" %>
        </button>
        <button class="btn btn-outline-secondary" type="button">
          <%= link_to "ログイン", new_user_session_path, class: "nav-link" %>
        </button>
      </div>
    <!-- ログインしている場合 -->
    <% else %>
      <div class="d-inline-flex align-items-center">
        <figure class="avatar-icon pt-2">
          <div class="mx-auto">

          </div>
        </figure> 

        <a class="nav-link text-light px-3"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <%= link_to "ルーム登録", class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "登録済みルーム一覧", class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "受注予約の管理", class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "宿泊予約の管理", class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "設定", edit_user_registration_path, class: "nav-link" %>
          <li class="nav-item">
            <%= link_to  "ログアウト", destroy_user_session_path, method: :delete, class: "nav-link" %>
          </li>
        </ul>
      </div>
    <% end %>
  </form>
</nav>